@page "{restaurantId:int}"
@model FoodAppCore.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    Id : @Model.Restaurant.ID
</div>
<div>
    Location : @Model.Restaurant.Location
</div>
<div>
    Cuisine : @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-secondary">All the restaurants</a>
